.main{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgb(240, 248, 185);
}

.card{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    border: 1px solid rgb(221, 189, 189);
    margin-top: 20px;
}
.searchbar{
    border-radius: 30px;
    border: 1px solid rgb(221, 212, 212);
    height: 40px;
    width: 500px;
    padding-left: 20px;
    background-color: rgb(240, 248, 185);
}
